#page-header {
	display: flex;
	align-items: center;
	height: 450px;
	color: white;
	border-bottom: 2px #eee solid;
	padding: 50px 0;

	&.about {
		background: bg-img-dark-overlay('../img/image1.jpg');
		background-position: 0 -360px;
		background-attachment: fixed;
	}

	&.services {
		background: bg-img-dark-overlay('../img/image2.jpg');
		background-position: 0 -360px;
		background-attachment: fixed;
	}

	&.blog {
		background: bg-img-dark-overlay('../img/image3.jpg');
		background-position: 0 -360px;
		background-attachment: fixed;
	}
}
