#main-navbar {
	border-bottom: 3px solid #ccc;

	.navbar-brand {
		font-size: 1.5rem;
		font-weight: bold;
	}

	.navbar-nav {
		margin-left: auto;
		padding: 1rem 0;

		.nav-item {
			.nav-link {
				font-size: 1.1rem;
				text-transform: capitalize;
				padding: 0 0.5rem;
				margin: 0.5rem 0;
			}

			&.active {
				border-left: #7a7979 3px solid;
				font-weight: bold;
			}
		}
	}
}
