#showcase {
	#myCarousel {
		.carousel-item {
			height: 500px;

			&.carousel-img-1 {
				background-image: url('../img/image1.jpg');
				background-size: cover;
				background-position: center;

				.carousel-caption {
					text-align: right;
				}

				&:before {
					content: '';
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					background-image: linear-gradient(to bottom right, #000, #333);
					opacity: 0.7;
				}
			}

			&.carousel-img-2 {
				background-image: url('../img/image2.jpg');
				background-size: cover;
				background-position: center;

				&:before {
					content: '';
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					background-image: linear-gradient(to bottom right, #000, #333);
					opacity: 0.7;
				}
			}

			&.carousel-img-3 {
				background-image: url('../img/image3.jpg');
				background-size: cover;
				background-position: center;

				.carousel-caption {
					text-align: left;
				}

				&:before {
					content: '';
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					background-image: linear-gradient(to bottom right, #000, #333);
					opacity: 0.7;
				}
			}
		}
	}
}

#home-icons {
	h3 {
		font-weight: bold;
	}
}

#home-heading {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 300px;
	background-image: url(../img/lights.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	text-align: center;
	color: #fff;

	.dark-overlay {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		@include dark-overlay;
	}
}

#video-play {
	position: relative;
	min-height: 300px;
	background-image: url(../img/media.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: 0 -300px;
	text-align: center;
	color: #fff;

	.dark-overlay {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		i {
			color: white;
			transition: all 5ms ease-in-out;

			&:hover {
				color: $primary;
			}
		}
	}
}
