#showcase {
	#myCarousel {
		.carousel-item {
			height: 500px;

			&.carousel-img-1 {
				background-image: url('../img/image1.jpg');
				background-size: cover;
				background-position: center;

				.carousel-caption {
					text-align: right;
				}

				&:before {
					content: '';
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					background-image: linear-gradient(to bottom right, #000, #333);
					opacity: 0.7;
				}
			}

			&.carousel-img-2 {
				background-image: url('../img/image2.jpg');
				background-size: cover;
				background-position: center;

				&:before {
					content: '';
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					background-image: linear-gradient(to bottom right, #000, #333);
					opacity: 0.7;
				}
			}

			&.carousel-img-3 {
				background-image: url('../img/image3.jpg');
				background-size: cover;
				background-position: center;

				.carousel-caption {
					text-align: left;
				}

				&:before {
					content: '';
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					background-image: linear-gradient(to bottom right, #000, #333);
					opacity: 0.7;
				}
			}
		}
	}
}

#home-icons {
	h3 {
		font-weight: bold;
	}
}
